@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Serif+Pro:wght@300;400;600;700&family=Lora:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
@keyframes modalScale {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-animation {
  animation: modalScale 0.2s ease-out forwards;
}
